<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')"><img src="assets/Electronics.png" alt="img">
                <h6>Electrnics</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
            <img src="assets/Fasion.jpg" alt="img">
            <h6>Fasion</h6>
        </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
            <img src="assets/Electronics.png" alt="img">
            <h6>Electrnics</h6>
        </a>
        </div>
        <div class="item">
            <a (clcik)="filter('jewelery')">
            <img src="assets/Jwellery.jpg" alt="img">
            <h6>Jwellery</h6>
        </a>
        </div>
    </div>
</div>
 <div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchkey:'title'">
        <div class="card col-md-3">
          <img src="{{item.image}}" alt="">
          <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:100ch;">{{item.title}}</h5>
          <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:100ch;">{{item.description}}</p>
          <p><strong>Price:</strong>${{item.price}}</p>
          <button class="btn btn-primary" (click)="addToCart(item)">Add to cart</button>
        </div>
    </ng-container>
    </div>
</div>
